@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,700&family=Roboto:wght@300;400;500;700;900&display=swap");
//  ===========================VARIABLES===========================
//  ===========================VARIABLES===========================

//  ===========================SAMPLES===========================
//  ===========================SAMPLES===========================

//  ===========================MIXINS===========================
//  ===========================MIXINS===========================

// =============================================================
// =============================================================
// =============================================================
// =============================================================
html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Roboto";
}
.wrapper {
  overflow: hidden;
  background-color: #000;
  position: relative;
}
.container {
  margin: 0 auto;
  max-width: 1032px;
  padding: 0 16px;
  height: 100%;
}
::-webkit-scrollbar {
  width: 10px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: rgba(0, 0, 0);
  opacity: 0.5;
}
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 9em;
  opacity: 0.4;
}
.over {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 300;
}
.over__active {
  display: block;
}
.popup {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  padding: 60px;
  background: #000;
  z-index: 311;
  transform: translate(-50%);
  border-radius: 60px;
  border: 20px solid #ffffff;
  span {
    font-family: "Roboto";
    font-size: 40px;
    color: #fff;
  }
}
.popup__active {
  display: block;
}
//  ===========================HEADER===========================
//  ===========================HEADER===========================

.header {
  display: block;
  position: fixed;
  width: 100%;
  background-color: #000;
  z-index: 200;
  ::-webkit-scrollbar {
    width: 6px; /* ширина для вертикального скролла */
    height: 1px; /* высота для горизонтального скролла */
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0.5;
    border-radius: 0;
  }
  ::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 0;
    opacity: 0.4;
  }
}
.tous__par a {
  color: chocolate;
}
.header__inner {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 8px;
  .header__logo {
    width: 207px;
    height: 42px;
    margin-left: 30px;
    img {
      width: 207px;
      height: 42px;
    }
  }
  .header__countries {
    z-index: 100;
    display: none;
    .header__countries-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(150, 149, 149, 0.5);
      h4 {
        font-size: 21px;
        font-family: "Roboto";
        color: black;
        font-weight: bold;
        line-height: 1.81;
      }
      a {
        font-size: 30px;
      }
    }
    .header__countries-bot {
      overflow-y: scroll;
      height: 320px;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      .header__item:hover {
        text-decoration: underline;
      }
      .header__item {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
        font-size: 19.576px;
        font-family: "Roboto";
        color: rgb(0, 100, 138);
        line-height: 1.941;
        img {
          width: 25px;
          height: 25px;
        }
      }
    }
    padding: 10px 20px;
    border-radius: 20px;
    position: fixed;
    width: 250px;
    height: 400px;
    right: 30px;
    top: 60px;
    background-color: #fff;
    a {
      color: grey;
    }
  }
  .header__links {
    height: 53px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    .header__play {
      width: 193px;
      height: 53px;
      display: none;
      img {
        width: 193px;
        height: 53px;
      }
    }
  }
}
.header__rel {
  position: relative;
}
.header__flag {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: center;
  &-lang {
    font-size: 21px;
    font-family: "Roboto";
    color: grey;
    font-weight: bold;
    align-self: flex-end;
  }
  img {
    width: 31px;
    height: 31px;
  }
}
.header__play-active {
  display: flex !important;
}
.header__flag-active {
  display: block !important;
}
.main {
  position: relative;
  &__video {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    video {
      object-fit: cover;
      width: 100%;
      height: 100%;
      object-position: center bottom;
    }
  }
  &__esrb {
    position: absolute;
    bottom: 12px;
    right: 12px;
    img {
      width: 172px;
      height: 86px;
    }
  }
  &__video::before {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    content: "";
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  &__container {
    position: relative;
    z-index: 2;
    max-width: 922px;
    padding: 0 16px;
    margin: 0 auto;
  }
  &__inner {
    padding-top: 155px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 250px;
  }
  &__left {
    img {
      width: 353px;
      height: 353px;
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    .main__title {
      font-size: 48px;
      color: rgb(255, 255, 255);
      line-height: 1.2;
      text-align: left;
      text-shadow: -5.416px 7.188px 16px rgba(0, 0, 0, 0.42);
      margin-bottom: 20px;
      font-weight: 400;
      max-width: 320px;
      font-weight: 900;
    }
    .main__subtitle {
      display: block;
      font-weight: 400;
      text-wrap: nowrap;
      font-size: 30px;
      font-family: "Roboto";
      color: rgb(255, 255, 255);
      line-height: 1.2;
      text-align: left;
      text-shadow: -5.416px 7.188px 16px rgba(0, 0, 0, 0.42);
      padding-right: 40px;
      margin-bottom: 33px;
      font-weight: 700;
    }
    .main__icons {
      display: flex;
      flex-direction: row;
      gap: 14px;
    }
    .header__play {
      width: 193px;
      height: 53px;
      img {
        width: 193px;
        height: 53px;
      }
    }
  }
}
.about {
  background-image: url("https://miks1na.github.io/Kalmarus456/images/shutterstock_2137531191.png");
  background-repeat: no-repeat;
  background-size: 100% 970px;
  background-position: center bottom;
  .about &__after {
    display: none;
    width: 40px;
    height: 80px;
    img {
      width: 40px;
      height: 80px;
      transform: rotate(-90deg);
    }
    position: absolute;
    bottom: -15px;
    left: 50%;
    z-index: 10;
    cursor: pointer;
    transform: translate(-50%);
  }
  &__after-active {
    transform: rotate(-180deg) translate(50%) !important;
  }
  &__inner {
    display: flex;
    flex-direction: row;
    padding: 0px 0 42px 0;
    gap: 22px;
    position: relative;
  }
  img {
    width: 226px;
    height: 298px;
    float: left;
    margin-right: 25px;
  }
  &__text {
    padding-top: 32px;
    font-size: 18.5px;
    font-family: "Roboto";
    color: rgb(162, 162, 162);
    line-height: 1.64;
    height: 300px;
    overflow: hidden;
  }
  &__text-active {
    height: auto;
    display: inline;
    margin-top: 32px;
  }
}
.fight {
  &__after {
    &-active {
      transform: rotate(-180deg) translate(50%);
    }
    img {
      width: 40px;
      height: 80px;
      transform: rotate(-90deg);
    }
    position: absolute;
    bottom: -15px;
    left: 50%;
    z-index: 10;
    cursor: pointer;
    transform: translate(-50%);
  }
  padding-bottom: 210px;
  position: relative;
  &__img {
    position: absolute;
    top: 40px;
    right: -950px;
    transition: 1s;
  }
  ._active {
    position: absolute;
    top: 40px;
    right: -150px;
    transition: 1s;
  }
  background-image: url("https://miks1na.github.io/Kalmarus456/images/podlozhki/fight2.webp");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover 700px;

  .fight &__inner {
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
    ._active {
      position: static;
      transform: scale(1);
    }
  }
  &__main {
    border-radius: 14px;
    background-color: rgba(0, 0, 0, 0.702);
    padding: 21px 31px 45px 20px;
    margin-left: 9px;
    max-width: 733px;
    backdrop-filter: blur(5px);
    transform: scale(0.6);
    position: relative;
  }

  &__title {
    display: inline;
    font-size: 60px;
    font-family: "Roboto";
    color: #8de8ff;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0 0 20px #8de8ff;
    margin-top: 110px;
    margin-bottom: 199px;
  }
  &__subtitle {
    font-size: 19px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.579;
    text-align: left;
    margin-bottom: 5px;
  }
  &__par {
    font-size: 19px;
    font-family: "Roboto";
    color: rgb(162, 162, 162);
    line-height: 1.64;
    text-align: left;
    height: 320px;
    overflow: hidden;
  }
  &__par-active {
    height: auto !important;
  }
}
.online {
  &__after {
    display: none;
    &-active {
      transform: rotate(-180deg) translate(50%);
    }
    img {
      width: 40px !important;
      height: 80px !important;
      transform: rotate(-90deg);
    }
    position: absolute;
    bottom: -15px;
    left: 50%;
    z-index: 10;
    cursor: pointer;
    transform: translate(-50%);
  }
  padding-bottom: 326px;
  position: relative;
  &__container {
    position: relative;
  }
  &__img {
    position: absolute;
    top: 40px;
    right: -950px;
    transition: 1s;
    z-index: 10;
  }
  ._active {
    top: 40px;
    right: -50px;
  }
  &__img2 {
    position: absolute;
    top: 550px;
    right: -950px;
    transition: 2s;
  }
  .online__container ._active {
    top: 550px;
    right: 130px;
  }
  background-image: url("https://miks1na.github.io/Kalmarus456/images/podlozhki/shariki2.webp");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover;

  .online &__inner {
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
    ._active {
      position: static;
      transform: scale(1);
      transition: 1s;
    }
  }
  &__main {
    position: relative;
    z-index: 8;
    border-radius: 14px;
    background-color: rgba(0, 0, 0, 0.702);
    padding: 21px 31px 55px 20px;
    margin-left: 9px;
    max-width: 733px;
    backdrop-filter: blur(5px);
    transform: scale(0.6);
  }
  &__title {
    display: inline;
    font-size: 60px;
    font-family: "Roboto";
    color: #8de8ff;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0 0 40px #8de8ff;
    margin-top: 135px;
    margin-bottom: 170px;
  }
  &__subtitle {
    font-size: 19px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.579;
    text-align: left;
    margin-bottom: 5px;
  }
  &__par {
    font-size: 19px;
    font-family: "Roboto";
    color: rgb(162, 162, 162);
    line-height: 1.64;
    text-align: left;
  }
  &__par-active {
    height: auto !important;
  }
}
.run {
  &__text {
    padding-bottom: 45px;
  }
  &__after {
    &-active {
      transform: rotate(-180deg) translate(50%);
    }
    img {
      width: 40px;
      height: 80px;
      transform: rotate(-90deg);
    }
    position: absolute;
    bottom: -15px;
    left: 50%;
    z-index: 10;
    cursor: pointer;
    transform: translate(-50%);
  }
  padding-bottom: 0px;
  background: url("https://miks1na.github.io/Kalmarus456/images/Hue_Saturation\ 1.png");
  background-repeat: no-repeat;
  background-position: center -250px;
  &__inner {
    position: relative;
  }
  &__img {
    margin-top: 0px;
    margin-bottom: 85px;
  }
  h3 {
    font-size: 19px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.579;
    text-align: left;
    margin-bottom: 5px;
  }
  p {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(162, 162, 162);
    line-height: 1.64;
    text-align: left;
    height: 85px;
    padding-bottom: 20px;
    overflow: hidden;
  }
  .run &__par-active {
    height: auto;
  }
  img {
    width: 100%;
  }
  .swiper__run {
    position: relative;
    width: 889px;
    margin: 0 auto;
  }
  .swiper-pagination-bullet {
    width: 55px;
    height: 6px;
    border-radius: 0;
    background-color: #494949;
    opacity: 100%;
  }
  .swiper-pagination-bullet-active {
    background: #fff;
    box-shadow: 0px 0px 20px 6px cyan;
  }
  .run-pagination {
    position: absolute;
    z-index: 10;
    top: 500px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
  }

  .swiper-button-prev-run {
    position: absolute;
    left: 0px;
    top: 28%;
    width: 40px;
    height: 80px;
    img {
      width: 40px;
      height: 80px;
    }
    cursor: pointer;
  }
  .swiper-button-next-run {
    position: absolute;
    top: 28%;
    right: 0;
    transform: rotateY(180deg);
    width: 40px;
    height: 80px;
    img {
      width: 40px;
      height: 80px;
    }
    cursor: pointer;
  }
}
.custom {
  padding-bottom: 276px;
  position: relative;
  &__after {
    display: none;
    &-active {
      transform: rotate(-180deg) translate(50%);
    }
    img {
      width: 40px;
      height: 80px;
      transform: rotate(-90deg);
    }
    position: absolute;
    bottom: -15px;
    left: 50%;
    z-index: 10;
    cursor: pointer;
    transform: translate(-50%);
  }
  &__container {
    position: relative;
  }
  &__img {
    position: absolute;
    top: 40px;
    right: -950px;
    transition: 1s;
  }
  ._active {
    position: absolute;
    top: 30px;
    right: -50px;
    z-index: 5;
  }
  background-image: url("https://miks1na.github.io/Kalmarus456/images/podlozhki/castum2.webp");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover 700px;

  .custom &__inner {
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
    ._active {
      position: static;
      transform: scale(1);
      transition: 1s;
    }
  }
  &__main {
    position: relative;
    z-index: 8;
    border-radius: 14px;
    background-color: rgba(0, 0, 0, 0.702);
    padding: 21px 31px 55px 20px;
    margin-left: 9px;
    max-width: 733px;
    backdrop-filter: blur(5px);
    transform: scale(0.6);
  }
  &__title {
    display: inline;
    font-size: 60px;
    font-family: "Roboto";
    color: #fff;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0 0 40px yellow;
    margin-top: 105px;
    margin-bottom: 155px;
  }
  &__subtitle {
    font-size: 19px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.579;
    text-align: left;
    margin-bottom: 5px;
  }
  &__par {
    font-size: 19px;
    font-family: "Roboto";
    color: rgb(162, 162, 162);
    line-height: 1.64;
    text-align: left;
  }
  &__par-active {
    height: auto !important;
  }
}
.pers {
  padding-bottom: 70px;
  background: url("https://miks1na.github.io/Kalmarus456/images/bg_photo_z.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0px;
  &__inner {
    position: relative;
  }
  &__img {
    margin-top: 0px;
    margin-bottom: 85px;
  }
  img {
    width: 100%;
  }
  .swiper__pers {
    position: relative;
    width: 889px;
    margin: 0 auto;
  }
  .swiper-pagination-bullet {
    width: 68px;
    height: 6px;
    border-radius: 0;
    background-color: #494949;
    opacity: 100%;
  }
  .swiper-pagination-bullet-active {
    background: #fff;
    box-shadow: 0px 0px 20px 6px yellow;
  }
  .pers-pagination {
    position: absolute;
    z-index: 10;
    bottom: 30px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .swiper-button-prev-pers {
    position: absolute;
    left: 0px;
    top: 190px;
    width: 40px;
    height: 80px;
    img {
      width: 40px;
      height: 80px;
    }
    cursor: pointer;
  }
  .swiper-button-next-pers {
    position: absolute;
    top: 190px;
    right: 0;
    transform: rotateY(180deg);
    width: 40px;
    height: 80px;
    img {
      width: 40px;
      height: 80px;
    }
    cursor: pointer;
  }
}
.friends {
  &__after {
    display: none;
    &-active {
      transform: rotate(-180deg) translate(50%);
    }
    img {
      width: 40px;
      height: 80px;
      transform: rotate(-90deg);
    }
    position: absolute;
    bottom: -15px;
    left: 50%;
    z-index: 10;
    cursor: pointer;
    transform: translate(-50%);
  }
  padding-bottom: 200px;
  position: relative;
  &__container {
    position: relative;
  }
  &__img {
    position: absolute;
    top: 40px;
    right: -950px;
    transition: 1s;
  }
  ._active {
    position: absolute;
    top: 15px;
    right: -130px;
    z-index: 5;
  }
  background-image: url("https://miks1na.github.io/Kalmarus456/images/podlozhki/lobby2.webp");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover 700px;

  .friends &__inner {
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
    ._active {
      position: static;
      transform: scale(1);
      transition: 1s;
    }
  }
  &__main {
    position: relative;
    z-index: 8;
    border-radius: 14px;
    background-color: rgba(0, 0, 0, 0.702);
    padding: 21px 31px 55px 20px;
    margin-left: 9px;
    max-width: 523px;
    backdrop-filter: blur(5px);
    transform: scale(0.6);
  }
  &__title {
    display: inline;
    font-size: 60px;
    font-family: "Roboto";
    color: #fff;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0 0 40px yellow;
    margin-top: 95px;
    margin-bottom: 80px;
  }
  &__subtitle {
    font-size: 19px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.579;
    text-align: left;
    margin-bottom: 5px;
  }
  &__par {
    font-size: 19px;
    font-family: "Roboto";
    color: rgb(162, 162, 162);
    line-height: 1.64;
    text-align: left;
  }
  &__par-active {
    height: auto !important;
  }
}
.video {
  background-image: url("https://miks1na.github.io/Kalmarus456/images/bg_vidos.jpg");
  background-repeat: repeat no-repeat;
  margin-bottom: 60px;
  &__inner {
    padding: 60px 0 60px 0;
  }
  video {
    width: 100%;
  }
}
.loc {
  padding-bottom: 150px;
  position: relative;
  &__after {
    display: none;
    &-active {
      transform: rotate(-180deg) translate(50%);
    }
    img {
      width: 40px;
      height: 80px;
      transform: rotate(-90deg);
    }
    position: absolute;
    bottom: -15px;
    left: 50%;
    z-index: 10;
    cursor: pointer;
    transform: translate(-50%);
  }
  &__container {
    position: relative;
  }
  &__img {
    position: absolute;
    top: 40px;
    right: -950px;
    transition: 1s;
    img {
      height: 920px;
    }
  }
  ._active {
    position: absolute;
    top: 10px;
    right: -150px;
    z-index: 5;
  }
  background-image: url("https://miks1na.github.io/Kalmarus456/images/podlozhki/krovat2.webp");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover 700px;

  .loc &__inner {
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
    ._active {
      position: static;
      transform: scale(1);
      transition: 1s;
    }
  }
  &__main {
    position: relative;
    z-index: 8;
    border-radius: 14px;
    background-color: rgba(0, 0, 0, 0.702);
    padding: 21px 31px 55px 20px;
    margin-left: 9px;
    max-width: 733px;
    backdrop-filter: blur(5px);
    transform: scale(0.6);
  }
  &__title {
    display: inline;
    font-size: 60px;
    font-family: "Roboto";
    color: #ffc4f3;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0 0 40px #ffc4f3;
    margin-top: 95px;
    margin-bottom: 255px;
  }
  &__subtitle {
    font-size: 19px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.579;
    text-align: left;
    margin-bottom: 5px;
  }
  &__par {
    font-size: 19px;
    font-family: "Roboto";
    color: rgb(162, 162, 162);
    line-height: 1.64;
    text-align: left;
    overflow: hidden;
    &-active {
      height: auto !important;
    }
  }
}
.clan {
  &__after {
    display: none;
    &-active {
      transform: rotate(-180deg) translate(50%);
    }
    img {
      width: 40px;
      height: 80px;
      transform: rotate(-90deg);
    }
    position: absolute;
    bottom: -15px;
    left: 50%;
    z-index: 10;
    cursor: pointer;
    transform: translate(-50%);
  }
  padding-bottom: 376px;
  position: relative;
  &__container {
    position: relative;
  }
  &__img {
    position: absolute;
    top: 40px;
    right: -950px;
    transition: 1s;
  }
  ._active {
    position: absolute;
    top: 0px;
    right: -50px;
    z-index: 5;
  }
  background-image: url("https://miks1na.github.io/Kalmarus456/images/podlozhki/klan2.webp");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover;

  .clan &__inner {
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
    ._active {
      position: static;
      transform: scale(1);
      transition: 1s;
    }
  }
  &__main {
    position: relative;
    z-index: 8;
    border-radius: 14px;
    background-color: rgba(0, 0, 0, 0.702);
    padding: 21px 31px 55px 20px;
    margin-left: 9px;
    max-width: 733px;
    backdrop-filter: blur(5px);
    transform: scale(0.6);
  }
  &__title {
    display: inline;
    font-size: 60px;
    font-family: "Roboto";
    color: #8de8ff;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0 0 40px #8de8ff;
    margin-top: 140px;
    margin-bottom: 160px;
  }
  &__subtitle {
    font-size: 19px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.579;
    text-align: left;
    margin-bottom: 5px;
  }
  &__par {
    overflow: hidden;
    font-size: 19px;
    font-family: "Roboto";
    color: rgb(162, 162, 162);
    line-height: 1.64;
    text-align: left;
    &-active {
      height: auto !important;
    }
  }
}
.moda {
  &__after {
    display: none;
    &-active {
      transform: rotate(-180deg) translate(50%);
    }
    img {
      width: 40px;
      height: 80px;
      transform: rotate(-90deg);
    }
    position: absolute;
    bottom: -15px;
    left: 50%;
    z-index: 10;
    cursor: pointer;
    transform: translate(-50%);
  }
  padding-bottom: 300px;
  position: relative;
  &__container {
    position: relative;
  }
  &__img {
    position: absolute;
    top: 40px;
    right: -950px;
    transition: 1s;
  }
  ._active {
    position: absolute;
    top: 40px;
    right: -160px;
    z-index: 5;
  }
  background-image: url("https://miks1na.github.io/Kalmarus456/images/podlozhki/magaz2.webp");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover;

  .moda &__inner {
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
    ._active {
      position: static;
      transform: scale(1);
      transition: 1s;
    }
  }
  &__main {
    position: relative;
    z-index: 8;
    border-radius: 14px;
    background-color: rgba(0, 0, 0, 0.702);
    padding: 21px 31px 55px 20px;
    margin-left: 9px;
    max-width: 733px;
    backdrop-filter: blur(5px);
    transform: scale(0.6);
  }
  &__title {
    display: inline;
    font-size: 60px;
    font-family: "Roboto";
    color: #8de8ff;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0 0 40px #8de8ff;
    margin-top: 130px;
    margin-bottom: 150px;
  }
  &__subtitle {
    font-size: 19px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.579;
    text-align: left;
    margin-bottom: 5px;
  }
  &__par {
    overflow: hidden;
    font-size: 19px;
    font-family: "Roboto";
    color: rgb(162, 162, 162);
    line-height: 1.64;
    text-align: left;
    &-active {
      height: auto !important;
    }
  }
}
.vip {
  &__after {
    display: none;
    &-active {
      transform: rotate(-180deg) translate(50%);
    }
    img {
      width: 40px;
      height: 80px;
      transform: rotate(-90deg);
    }
    position: absolute;
    bottom: -15px;
    left: 50%;
    z-index: 10;
    cursor: pointer;
    transform: translate(-50%);
  }
  padding-bottom: 270px;
  position: relative;
  &__container {
    position: relative;
  }
  &__img {
    position: absolute;
    top: 40px;
    right: -950px;
    transition: 1s;
  }
  ._active {
    position: absolute;
    top: 60px;
    right: -160px;
    z-index: 5;
  }
  background-image: url("https://miks1na.github.io/Kalmarus456/images/podlozhki/vip2.webp");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover;

  .vip &__inner {
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
    ._active {
      position: static;
      transform: scale(1);
      transition: 1s;
    }
  }
  &__main {
    position: relative;
    z-index: 8;
    border-radius: 14px;
    background-color: rgba(0, 0, 0, 0.702);
    padding: 21px 31px 55px 20px;
    margin-left: 9px;
    max-width: 733px;
    backdrop-filter: blur(5px);
    transform: scale(0.6);
  }
  &__title {
    display: inline;
    font-size: 60px;
    font-family: "Roboto";
    color: yellow;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0 0 40px yellow;
    margin-top: 130px;
    margin-bottom: 160px;
  }
  &__subtitle {
    font-size: 19px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.579;
    text-align: left;
    margin-bottom: 5px;
  }
  &__par {
    overflow: hidden;
    font-size: 19px;
    font-family: "Roboto";
    color: rgb(162, 162, 162);
    line-height: 1.64;
    text-align: left;
    &-active {
      height: auto !important;
    }
  }
}
.tous {
  &__inner {
    margin-bottom: 80px;
  }
  background: url("https://miks1na.github.io/Kalmarus456/images/kukla_k_nam.png");
  background-repeat: no-repeat;
  background-position: center 0;
  &__top {
    padding-bottom: 130px;
  }
  h2 {
    text-align: center;
    font-size: 60px;
    font-family: "Roboto";
    color: yellow;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0 0 40px yellow;
    padding-top: 90px;
    margin-bottom: 75px;
    padding-left: 170px;
  }
  img {
    width: 350px;
    height: 94px;
  }
  &__links {
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: center;
    padding-left: 250px;
  }
  &__par {
    position: relative;
    z-index: 8;
    border-radius: 14px;
    background-color: rgba(0, 0, 0, 0.702);
    padding: 21px 31px 55px 20px;
    margin-left: 9px;
    max-width: 100%;
    backdrop-filter: blur(5px);
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(162, 162, 162);
    line-height: 1.64;
    text-align: center;
  }
}
.footer {
  background: url("https://miks1na.github.io/Kalmarus456/images/futer.png");
  background-repeat: repeat no-repeat;
  background-color: #030610;
  padding-top: 60px;
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 55px;
    margin-bottom: 34px;
  }
  a {
    font-size: 17px;
    font-family: "Roboto";
    color: rgba(105, 105, 105, 0.902);
    text-decoration: underline;
    line-height: 1;
  }
  &__bottom {
    font-size: 15px;
    font-family: "Myriad Pro";
    color: rgba(105, 105, 105, 0.902);
    line-height: 1.357;
    text-align: center;
    padding-bottom: 20px;
  }
}
.header__inner {
  align-items: center;
}
@media (max-width: 1150px) {
  .pers__inner {
    padding: 0 50px;
  }
  .pers .swiper__pers {
    width: 100%;
  }
  .pers {
    margin-top: 40px;
  }
  .custom ._active {
    top: 80px;
  }
  .run__inner {
    padding: 0 50px;
  }
  .pers .swiper-button-next-pers {
    top: 35%;
  }
  .pers .swiper-button-prev-pers {
    top: 35%;
  }
  .run .swiper__run {
    width: 100%;
  }

  .fight {
    padding-bottom: 0;
  }
  .fight__img img {
    height: 750px;
  }
  .clan {
    padding-bottom: 100px;
  }
  .clan__img img {
    height: 750px;
  }
  .moda {
    padding-bottom: 100px;
  }
  .moda {
    background-position: 0px -42px;
  }
  .vip {
    background-position: 0px -42px;
  }
  .clan {
    background-position: 0px -42px;
  }
  .moda__img img {
    height: 750px;
  }
  .vip {
    padding-bottom: 100px;
  }
  .vip__img img {
    height: 750px;
  }
  .loc ._active {
    top: 120px;
  }
  .loc {
    padding-bottom: 0;
  }
  .loc__img img {
    height: 750px;
  }
  .custom {
    padding-bottom: 70px;
  }
  .custom__img img {
    height: 650px;
  }
  .friends {
    padding-bottom: 0;
  }
  .friends__img img {
    height: 750px;
  }
  .online__img img {
    height: 750px;
  }
  .fight__title {
    font-size: 50px;
  }
  .header__inner .header__links {
    padding-right: 65px;
  }
}
@media (max-width: 1000px) {
  .run .run-pagination {
    top: 454px;
  }
}

@media (max-width: 900px) {
  .footer nav {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 34px;
  }
  .pers__inner {
    padding: 0;
  }
  .pers .swiper-button-next-pers {
    display: none;
  }
  .pers .swiper-button-prev-pers {
    display: none;
  }
  .run .swiper-button-prev-run {
    top: 25%;
  }
  .run .swiper-button-next-run {
    top: 25%;
  }
  .run .run-pagination {
    top: 410px;
  }
  .fight {
    background-position: 0px -67px;
  }
  .fight__img img {
    height: 750px;
  }
  .fight__title {
    font-size: 36px;
  }
  .vip {
    background-position: 0px -67px;
  }
  .vip__img img {
    height: 750px;
  }
  .vip__title {
    font-size: 36px;
  }
  .moda {
    background-position: 0px -67px;
  }
  .moda__img img {
    height: 750px;
  }
  .moda__title {
    font-size: 36px;
  }
  .clan {
    background-position: 0px -67px;
  }
  .clan__img img {
    height: 750px;
  }
  .clan__title {
    font-size: 36px;
  }
  .clan {
    padding-bottom: 20px;
  }
  .clan {
    background-position: 0px -38px;
  }
  .loc {
    background-position: 0px -67px;
  }
  .loc__img img {
    height: 641px;
  }
  .loc__title {
    font-size: 36px;
  }
  .custom {
    background-position: 0px -67px;
  }
  .custom__img img {
    height: 750px;
  }
  .custom__title {
    font-size: 36px;
  }
  .friends {
    background-position: 0px -67px;
  }
  .friends__img img {
    height: 750px;
  }
  .friends__title {
    font-size: 36px;
  }
  .online {
    background-position: 0px -110px;
  }
  .online__img img {
    height: 750px;
  }
  .online__title {
    font-size: 36px;
  }
  .about {
    background-position: center -777px;
    &__img-active {
      margin-top: -32px;
    }
  }
  .about__right {
    padding-top: 30px;
  }
  .about .about__after {
    display: block;
  }
  .about__text {
    font-size: 20px;
  }
  .main__inner {
    gap: 20px;
  }
  .main__left img {
    width: 250px;
    height: 250px;
  }
  .main__right .main__title {
    font-size: 40px;
    max-width: 300px;
  }
  .main__right .main__subtitle {
    font-size: 25px;
  }
  .main__right .header__play img {
    width: 170px;
    height: auto;
  }
  .main__right .header__play {
    width: 170px;
    height: auto;
  }
  .main__right .main__icons {
    gap: 10px;
  }
}
@media (max-width: 830px) {
  .run .run-pagination {
    top: 367px;
  }
}
@media (max-width: 750px) {
  .run .swiper-button-prev-run {
    display: none;
  }
  .run .swiper-button-next-run {
    display: none;
  }
  .run__inner {
    padding: 0;
  }
  .run .run-pagination {
    top: 312px;
  }
  .online .online__container ._active img {
    height: 250px;
  }
  .online .online__container ._active {
    top: 153px;
    right: 158px;
  }
  .fight ._active {
    top: 40px;
    right: 0;
  }
  .fight__img img {
    height: 350px;
  }
  .fight__title {
    font-size: 30px;
  }
  .fight__title {
    margin-top: 23px;
  }
  .fight {
    padding-bottom: 0;
    background-position: 0px -8px;
  }
  .fight {
    background-position: 0px -11px;
  }
  .fight {
    background-size: auto 405px;
  }
  .vip ._active {
    top: 40px;
    right: 0;
  }
  .vip__img img {
    height: 350px;
  }
  .vip__title {
    font-size: 30px;
  }
  .vip__title {
    margin-top: 23px;
  }
  .vip {
    padding-bottom: 0;
    background-position: 0px -8px;
  }
  .vip {
    background-position: 0px -11px;
  }
  .vip {
    background-size: auto 405px;
  }
  .moda ._active {
    top: 40px;
    right: 0;
  }
  .moda__img img {
    height: 350px;
  }
  .moda__title {
    font-size: 30px;
  }
  .moda__title {
    margin-top: 23px;
  }
  .moda {
    padding-bottom: 0;
    background-position: 0px -8px;
  }
  .moda {
    background-position: 0px -11px;
  }
  .moda {
    background-size: auto 405px;
  }
  .clan ._active {
    top: 40px;
    right: 0;
  }
  .clan__img img {
    height: 350px;
  }
  .clan__title {
    font-size: 30px;
  }
  .clan__title {
    margin-top: 23px;
  }
  .clan {
    padding-bottom: 0;
    background-position: 0px -8px;
  }
  .clan {
    background-position: 0px -11px;
  }
  .clan {
    background-size: auto 405px;
  }
  .loc__img img {
    height: 350px;
  }
  .loc__title {
    font-size: 30px;
  }
  .loc__title {
    margin-top: 23px;
  }
  .loc {
    padding-bottom: 0;
    background-position: 0px -8px;
  }
  .loc {
    background-position: 0px -11px;
  }
  .loc {
    background-size: auto 405px;
  }
  .loc ._active {
    right: 35px;
  }
  .custom ._active {
    top: 40px;
    right: 0;
  }
  .custom__img img {
    height: 350px;
  }
  .custom__title {
    font-size: 30px;
  }
  .custom__title {
    margin-top: 23px;
  }
  .custom {
    padding-bottom: 0;
    background-position: 0px -8px;
  }
  .custom {
    background-position: 0px -11px;
  }
  .custom {
    background-size: auto 405px;
  }
  .friends ._active {
    top: 40px;
    right: 0;
  }
  .friends__img img {
    height: 350px;
  }
  .friends__title {
    font-size: 30px;
  }
  .friends__title {
    margin-top: 23px;
  }
  .friends {
    padding-bottom: 0;
    background-position: 0px -8px;
  }
  .friends {
    background-position: 0px -11px;
  }
  .friends {
    background-size: auto 405px;
  }
  .friends__title {
    margin-bottom: 217px;
  }
  .online ._active {
    top: 40px;
    right: 0;
  }
  .online__img img {
    height: 350px;
  }
  .online__title {
    font-size: 30px;
  }
  .online__title {
    margin-top: 23px;
  }
  .online {
    padding-bottom: 0;
    background-position: 0px -8px;
  }
  .online {
    background-position: 0px -11px;
  }
  .online {
    background-size: auto 405px;
  }
  .about img {
    width: 180px;
    height: auto;
  }
  .about__text {
    font-size: 19px;
    height: 250px;
  }
  .header__inner .header__links {
    padding-right: 65px;
  }
  .header__inner .header__logo img {
    width: 138px;
    height: 28px;
  }
  .header__inner .header__logo {
    width: 138px;
    height: 28px;
    margin-left: 0px;
  }
  .header__flag-lang {
    font-size: 17px;
  }
  .header__flag img {
    width: 24px;
    height: 24px;
  }
  .header__inner .header__links .header__play img {
    width: 129px;
    height: 35px;
  }
  .header__inner .header__links .header__play {
    width: 129px;
    height: 35px;
  }
  .header__flag {
    top: 14px;
  }
  .main__inner {
    gap: 20px;
  }
  .main__left img {
    width: 160px;
    height: 160px;
  }
  .main__right .main__title {
    font-size: 30px;
    max-width: 250px;
  }
  .main__right .main__subtitle {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .main__right .header__play img {
    width: 130px;
    height: auto;
  }
  .main__right .header__play {
    width: 130px;
    height: auto;
  }
  .main__right .main__icons {
    gap: 10px;
  }
  .tous__par {
    font-size: 16px;
  }
  .tous__links {
    padding-left: 123px;
  }
  .tous h2 {
    padding-left: 20px;
  }
  .tous img {
    width: 280px;
    height: auto;
  }
}
@media (max-width: 500px) {
  .video {
    background-size: auto 100%;
    margin-bottom: 30px;
  }
  .online__img2 {
    top: 134px;
  }
  .clan {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .custom .custom__inner {
    padding-bottom: 0px;
  }
  .custom__after {
    display: block;
  }
  .clan__after {
    display: block;
  }
  .moda__after {
    display: block;
  }
  .vip__after {
    display: block;
  }
  .friends__after {
    display: block;
  }
  .tous {
    background-size: 950px auto;
  }
  .tous h2 {
    padding-top: 60px;
    margin-bottom: 80px;
    padding-left: 0;
    text-align: center;
    font-size: 40px;
    padding-left: 25%;
  }
  .tous__top {
    padding-bottom: 0px;
  }
  .tous__inner {
    margin-bottom: 40px;
  }
  .tous__par {
    padding: 21px 15px 0px 15px;
    margin-left: 0px;
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(162, 162, 162);
    line-height: 1.64;
    text-align: center;
    margin-top: 100px;
  }
  .tous__links {
    padding-left: 35%;
  }
  .tous img {
    width: 200px;
    height: auto;
  }

  .run {
    background-position: center -415px;
  }
  .run .run-pagination {
    top: 268px;
  }
  .loc__after {
    display: block;
  }
  .online__after {
    display: block;
  }
  .fight__par {
    height: 145px;
  }
  .fight__after {
    bottom: -35px;
  }
  .fight__par {
    font-size: 17px;
  }
  .fight__main {
    padding: 21px 5px 15px 5px;
    margin-left: 0px;
  }
  .fight__title {
    margin-bottom: 256px;
  }
  .fight {
    background-size: auto 300px;
    background-position: 0px 1px;
  }
  .fight__img img {
    height: 270px;
  }
  .vip__par {
    height: 145px;
  }
  .vip__after {
    bottom: -35px;
  }
  .vip__par {
    font-size: 17px;
  }
  .vip__main {
    padding: 21px 5px 15px 5px;
    margin-left: 0px;
  }
  .vip__title {
    margin-bottom: 256px;
  }
  .vip {
    background-size: auto 300px;
    background-position: 0px 1px;
  }
  .vip .vip__inner {
    padding-bottom: 20px;
  }
  .vip__img img {
    height: 270px;
  }
  .moda__par {
    height: 145px;
  }
  .moda__after {
    bottom: -35px;
  }
  .moda__par {
    font-size: 17px;
  }
  .vip {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .moda .moda__inner {
    padding-bottom: 20px;
  }
  .clan .clan__inner {
    padding-bottom: 10px;
  }
  .moda__main {
    padding: 21px 5px 15px 5px;
    margin-left: 0px;
  }
  .moda__title {
    margin-bottom: 256px;
  }
  .moda {
    background-size: auto 300px;
    background-position: 0px 1px;
  }
  .moda__img img {
    height: 250px;
  }
  .moda ._active {
    top: 68px;
  }
  .clan__par {
    height: 145px;
  }
  .clan__after {
    bottom: -35px;
  }
  .clan__par {
    font-size: 17px;
  }
  .clan__main {
    padding: 21px 5px 15px 5px;
    margin-left: 0px;
  }
  .clan__title {
    margin-bottom: 256px;
  }
  .clan {
    background-size: auto 300px;
    background-position: 0px 1px;
  }
  .clan__img img {
    height: 270px;
  }
  .loc__img img {
    height: 270px;
  }
  .loc ._active {
    top: 50px;
  }
  .loc__par {
    height: 145px;
  }
  .loc__after {
    bottom: -35px;
  }
  .loc__par {
    font-size: 17px;
  }
  .loc__main {
    padding: 21px 5px 15px 5px;
    margin-left: 0px;
  }
  .loc__title {
    margin-bottom: 256px;
  }
  .loc {
    background-size: auto 300px;
    background-position: 0px 1px;
  }
  .custom__img img {
    height: 270px;
  }
  .custom__par {
    height: 145px;
  }
  .custom__after {
    bottom: -35px;
  }
  .custom__par {
    font-size: 17px;
  }
  .custom__main {
    padding: 21px 5px 15px 5px;
    margin-left: 0px;
  }
  .custom__title {
    font-size: 21px;
    margin-bottom: 256px;
  }
  .custom__par {
    overflow: hidden;
  }
  .custom {
    background-size: auto 300px;
    background-position: 0px 1px;
  }
  .custom__img img {
    height: 270px;
  }
  .friends__par {
    height: 145px;
  }
  .friends__after {
    bottom: -35px;
  }
  .friends__par {
    font-size: 17px;
  }
  .friends__main {
    padding: 21px 5px 15px 5px;
    margin-left: 0px;
  }
  .friends__title {
    margin-bottom: 256px;
  }
  .friends__par {
    overflow: hidden;
  }
  .friends {
    background-size: auto 300px;
    background-position: 0px 1px;
  }
  .friends__img img {
    height: 270px;
  }
  .online .online__container ._active img {
    height: 170px;
  }
  .online .online__container ._active {
    top: 134px;
    right: 122px;
  }
  .online__par {
    height: 145px;
  }
  .run {
    padding-bottom: 30px;
  }
  .online .online__inner {
    padding-bottom: 35px;
  }
  .online__after {
    bottom: -35px;
  }
  .online__par {
    font-size: 17px;
    overflow: hidden;
  }
  .online__main {
    padding: 21px 5px 15px 5px;
    margin-left: 0px;
  }
  .online__title {
    margin-bottom: 256px;
  }
  .online {
    background-size: auto 300px;
    background-position: 0px 1px;
  }
  .online__img img {
    height: 270px;
  }
  .about img {
    width: 150px;
    height: auto;
  }
  .about__text {
    font-size: 15.5px;
    height: 200px;
  }
  .about__text {
    padding-top: 17px;
  }
  .header__inner .header__logo img {
    width: 81px;
    height: 16.5px;
  }
  .header__inner .header__logo {
    width: 81px;
    height: 16.5px;
  }
  .header__inner .header__links .header__play img {
    width: 86px;
    height: 23px;
  }
  .header__inner .header__links .header__play {
    width: 86px;
    height: 23px;
  }
  .header__flag-lang {
    font-size: 13px;
  }
  .header__flag img {
    width: 18px;
    height: 18px;
  }
  .header__flag {
    top: 17px;
  }
  .header__inner {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header__inner .header__links {
    gap: 0px;
  }
  .header__inner .header__logo {
    margin-right: 3px;
  }

  .main__inner {
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 65px;
  }
  .main__left img {
    width: 120px;
    height: 120px;
  }
  .main__right .main__title {
    font-size: 22px;
    max-width: 200px;
    margin-bottom: 10px;
  }
  .main__right .main__subtitle {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .main__right .header__play img {
    width: 110px;
    height: auto;
  }
  .main__right .header__play {
    width: 110px;
    height: auto;
  }
  .main__right .main__icons {
    gap: 10px;
  }
  .main__esrb {
    display: none;
  }

  .run p {
    font-size: 16px;
  }
}
@media (max-width: 450px) {
  .run .run-pagination {
    top: 234px;
  }
  .loc__title {
    font-size: 22px;
  }
  .clan__title {
    font-size: 22px;
  }
}
@media (max-width: 400px) {
  .run .run-pagination {
    top: 210px;
  }
  .fight__title {
    font-size: 24px;
  }
  .about img {
    width: 125px;
    height: auto;
    margin-right: 14px;
  }
  .about__text {
    font-size: 14px;
    height: 180px;
    padding-top: 15px;
  }
  .main__inner {
    gap: 15px;
    padding-top: 100px;
    padding-bottom: 65px;
  }
  .main__left img {
    width: 100px;
    height: 100px;
  }
  .main__right .main__title {
    font-size: 20px;
    max-width: 140px;
    margin-bottom: 10px;
  }
  .main__right .main__subtitle {
    font-size: 13px;
    margin-bottom: 12px;
  }
  .main__right .header__play img {
    width: 87px;
    height: auto;
  }
  .main__right .header__play {
    width: 87px;
    height: auto;
  }
  .main__right .main__icons {
    gap: 10px;
  }
}
